astroid==2.11.7
autopep8==1.6.0
dill==0.3.5.1
flake8==4.0.1
isort==5.10.1
jedi==0.18.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
packaging==21.3
parso==0.8.3
platformdirs==2.5.2
pluggy==1.0.0
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pylint==2.14.4
pyparsing==3.0.9
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.5.0
pytoolconfig==1.2.1
rope==1.2.0
snowballstemmer==2.2.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.1
ujson==5.4.0
wrapt==1.14.1
yapf==0.32.0
