@import "utils";

.dataset-title{
  margin: 1em 0 0.5em 0;
  text-align: center;
}

.dataset-description{
  @extend .rola-description-text;
  margin: 2em 0 0.5em 0;
}


.dataset-info{
    td{
	padding-left: 10px;
    }
}

circle {
  fill: red;
  opacity: 0.3;
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 1.2em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 1.4em;
  fill: #8E8883;
}

.title {
  font-size: 1.6em;
  fill: #635F5D;
}

.canvas{
    width:100%;
    height: 300px;
}

.add-model-link{
    text-align: right;
    border-top: 1px solid #ccc;
    padding-right: 10px;
    margin-top: 10px;
    padding-top: 10px;
}
