.footer{
    border-top: 1px solid #cccc;
    height: 50px;
    //position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-top: 35px;
    .contact-info{

    }
    .legal-info{

    }
}
