@import "utils";

.dataset-details{
  margin-top: 1em;
  @extend .rola-table;

  td.td-extra-training-data{

  }

  button {
      background: none!important;
      border: none;
      padding: 0!important;
      font-family: arial, sans-serif;
      text-decoration: underline;
      cursor: pointer;
  }
}
