@import "utils";

.task-details{

    h3{
        margin: 1em 0 0.5em 0;
    }

    h4{
        margin: 2em 0 0.5em 0;
    }

    .task-description{
        @extend .rola-description-text;
    }

    table{
        @extend .rola-table;

	tbody > tr > td > a > svg > path{
	    fill:#000;
	}
    }

}
