h3 {
    font-size: 1.725em;
    font-family: 'Segoe UI';
    color: #000;
}

h4 {
    font-size: 1.4em;
    font-family: 'Segoe UI';
    color: #000;
}

$rola-table-bg: rgba(255, 255, 255, 0.9);
$rola-table-lines: rgba(139, 139, 139, 0.9);
$rola-table-header-text: rgba(40, 50, 70, 0.6);
$rola-table-text: rgba(40, 50, 70, 0.9);

.rola-table {
    border: 1px solid $rola-table-lines;
    border-radius: 10px;
    border-collapse: separate;
    font-family: 'Arial';

    background-color: $rola-table-bg; //rgba(40,50,70,0.9);

    thead {
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 900;
        color: $rola-table-header-text;

        tr td {
            border: 0;
            padding: 0.4em;
        }
    }

    tbody {
        font-weight: 300;
        font-size: 0.9em;
        color: $rola-table-text;
        tr {
            box-shadow: 0px -5px 0px -4px $rola-table-lines;

            td {
                border: 0;
                padding: 0.4em;
                a {
                    color: $rola-table-text;
                }

                a:hover {
                    color: $rola-table-text;
                    text-decoration: none;
                }
            }

            td:first-child {
                font-weight: 700;
            }

            td:nth-child(2) {
                font-weight: 700;
            }
        }
    }
}

.rola-description-text {
    font-size: 1em;
    text-align: justify;
    color: #333;
}
