.main-content {
    margin: 10px 15px ;
}

.domain-tile{
    display: flex;
    margin-top: 25px;
    margin-bottom: 55px;
}

.domain-name{
    font-size: 1.5rem;
}

.task-tiles{
    padding-left: 25px;
    margin-top: 15px;
}
.task-tile{
    display: flex;
    border: 1px solid #cccccc;
    margin-right: 35px;
}

.task-name{

}

.task-summary{

}
